a{
  text-decoration: none;
}


.top_nav_bar{
  background-color:black;
  overflow: hidden;
  border-bottom:solid 1px #777;

}

.top_nav_bar a {
  float:right;
  display: block;
  color: white;
  padding: 11px 12px;
  text-decoration: none;
  font-size: 12px;
  border-color:solid 1px #777;
}

.top_second_nav_bar{
  margin: 1%;
  margin-left:0%;
  padding-bottom:1%;
  border-bottom:solid 1px darkblue;
  width:100%;
}


.top_second_nav_bar a#logo {
  color: black;
  text-decoration: none;
  font-size:40px;
  margin-right: 3%;
  margin-left:3%;

  text-decoration-style: solid;
}


.top_second_nav_bar #search{
  margin-right: 1%;
  font-size: 17px;
  padding:1%;
  width:43%;
  height:6%;
  border-radius: 15px;
  border: solid 2px darkblue;
  color:brown;
}

.pane{
  float:left;
  width:15%;
  margin: 2%;
  margin-left:3%;
  margin-right: 2%;
  border: solid 1px #777;
}

h3{

  border-left: 1%;
  padding-bottom: 0.5%;
  background-color: #f8f8f8;
  width:98%;
}
.pane ul{
  margin-left: -20%;
}

 .pane ul li{
     list-style: none;
     margin-top: 10%;
     color:darkblue;
     background-color:#F8F8F8;
     width:100%;
     overflow-x:hidden;
     overflow-y:hidden;
     font-size:15px;
     padding-left: 15%;
 }

 .pane a:hover{
   color:blue;
   text-decoration: underline;
 }

 #paneName{
   background-color: black;
   color:white;
   text-align: center;
   padding-top:0.5%;
   padding-bottom:2%;
   width:100%;
 }

 .products{
   width:80%;
   float:left;
   margin-top: 2%;
   text-align: center;
 }

 .myProducts{
   width:80%;
   float:left;
   margin-top:0.5%;
   text-align:center;
 }
 .myCart{
   width:80%;
   float:left;
   margin-top:0.5%;
 }
  .cartButton{
    float:left;
    border-radius:15px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    margin-left: 10px;
    border:none;
  }




 .addProduct{
   width:60%;
   float:left;
   margin-top:2%;
   display:flex;
   background-color: #f8f8f8;
   margin-bottom:4%;
   margin-left:5%;
 }


 .productInfo{
   float:left;

   padding: 0 10px;
   border-right: solid 5px white;
 }

  .productImage{
    float: left;

    padding: 10%;

  }


form{
  margin-left:1%;
  background-color: #f8f8f8;
  padding:1%;
  width: 100%;
}

p{
   width: 100%;
   font-size: 22px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: auto;
   max-width: 250px;
   margin-bottom:10%;
   font-family: arial;
 }
img{
  height:310px;
  width:250px;
}
 .price {
   color: grey;
   font-size: 22px;
   text-align: center;
   width: 100%;
 }

 .card button {
   border: none;
   outline: 0;
   padding: 8px;

   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }

 .card button#myproduct {
   border: none;
   outline: 0;
   padding: 2px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   margin-top:0%;
 }

 .card button:hover {
   opacity: 0.7;
 }

.addProduct input#addProduct{
  background-color: green;
  color:white;
}

.addProduct input#productName,#productDescription,
   input#productQuantity,input#productQuantity,input#price,input#type{

     width:70%;
     border-radius: 15px;
     border: solid 1px darkblue;

   }
input:focus{
  border-radius: 15px;

}
span{
  color:red;
}
